body {
  background: #111;
  height: 100vh;
}
.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: #1cda6b;
  box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
  animation: animate 6s linear infinite;
}
.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}
.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}
.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}
.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}
.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}
.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content h2 b {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: montserrat;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 12px;
}
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #111;
  color: #fff; /*333*/
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-shadow: 0 0 5px rgb(255, 255, 255); /* The glow effect */
}

/* Style the tab when hovered */
a:hover {
  background-color: rgb(22, 107, 185);
  transform: translateY(-5px);
}

/* Style the tab when it is active or selected */
a.active {
  background-color: #555; /*555*/
  transform: translateY(-5px);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -10px;
}

section {
  margin-top: 100px;
  padding: 50px 0;
  text-align: center;
}

section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 1.6em;
  font-weight: bold;
  font-family: "Roboto";
  color: white;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: -100px; /* -100px seems to be the best (still doing testing) 200*/
  color: white;
}

li {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Roboto";
  color: white;
}

.coding-img {
  padding-left: 2rem;
  image-rendering: auto;
  padding-bottom: 8%;
  width: 100px;
}

.languages {
  margin-top: -2rem;
  font-size: 24;
  text-align: center;
  /*  margin-top: -90px; /* -100 seems to be the best (still doing testing)*/
}

#languages {
  text-align: center;
}

.images-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.coding-img {
  margin: 0 10px; /* Add margin between the images */
}

h1 {
  font-size: 36px;
  margin-bottom: 0px;
  color: white;
}

footer p {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
